<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Simple Local Share</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <input type="text" id="search">

  <p id="not-found">
    Nenhum arquivo encontrado. Tente novamente.
  </p>

  <table id="files">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tamanho</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      {{#files}}
        <tr class="file-item" data-name="{{name}}">
          <td>{{name}}</td>
          <td>{{size}}</td>
          <td><a href="download/{{name}}">Download</a></td>
        </tr>
      {{/files}}
    </tbody>
  </table>

  <script src="js/app.js"></script>
</body>
</html>
