* { box-sizing: border-box !important; }
*:focus { outline: none; }

body {
  background: #2B2B2B;
  color: #F7F7F7;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.5em;
  padding: 1.5em;
}

h1 {
  font-family: inherit;
  font-weight: 300;
  font-style: inherit;
  font-size: 4.222222222222222em;
  line-height: 1.0657894736842106em;
  margin-top: 0em;
  margin-bottom: 0.35526315789473684em;
  text-align: center;
}

p, table, input[type="search"] {
  margin-top: 0em;
  margin-bottom: 1.5em;
}

#wrapper {
  width: 720px;
  margin: 0 auto;
}

#search {
  width: 100%;
  background-color: rgba(0, 0, 0, .14);
  border: 1px solid rgba(255, 255, 255, .14);
  border-radius: 10px;
  padding: 0.75em 1.5em;
}

#not-found {
  text-align: center;
  background: #FF2D55;
  padding: 0.75em;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .14);
}

#files {
  width: 100%;
}

#files th,
#files td {
  text-align: right;
}

#files th:first-child,
#files td:first-child {
  text-align: left;
}

#files th {
  font-weight: normal;
  border-bottom: 1px solid rgba(255, 255, 255, .34);
  padding-bottom: .75em;
}

#files td {
  padding: .75em 0;
  border-bottom: 1px solid rgba(255, 255, 255, .14);
}

.download {
  color: #4CD964;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #4CD964;
  border-radius: 4px;
  padding: .5em;
  transition: all 100ms ease-in-out;
}

.download:hover {
  background-color: #4CD964;
  color: #F7F7F7;
}
