/* import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,600');

/* reset */
* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
a,
a:hover,
a:active,
a:focus,
a:visited {
	text-decoration: none;
}

/* body */
body {
	font-family: 'Roboto';
	font-size: 18px;
	color: #eee;
	background-color: #303841;
}

/* wrapper */
#wrapper {
	margin: 0 auto;
	width: 760px;
}
h1 {
	font-size: 81px;
	font-weight: 100;
	text-align: center;
	line-height: 100px;
	margin: 60px 0 40px;
}
h1 span {
  color: #00adb5;
  text-transform: uppercase;
}
p,
table,
input[type="search"] {
	margin: 0 0 60px;
}
input[type="search"] {
	font-family: 'Roboto';
	background: #3a4750;
	padding: 10px 12px 10px;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
}
input[type="search"]:focus {
	border-color: rgba(0,0,0,0.5);
}

/* not found */
#not-found {
  padding: 13px 16px 12px;
  border: 2px solid #ff5722;
  border-radius: 2px;
}

/* files */
#files {
	width: 100%;
}
#files th,
#files td {
	text-align: right;
}
#files th:first-child,
#files td:first-child {
	text-align: left;
}
#files th {
	font-weight: normal;
	border-bottom: 2px solid rgba(0,0,0,0.3);
	padding-bottom: 20px;
}
#files td {
	border-bottom: 2px solid rgba(0,0,0,0.2);
	padding: 10px 0;
}
.download {
	color: #00adb5;
	background-color: transparent;
	border: none;
	border-radius: 2px;
	padding: 13px 16px 12px;
	display: inline-block;
	transition: all 200ms;
	text-transform: uppercase;
}
.download:hover {
	background-color: rgba(0,0,0,.1);
}
.download:active {
	background-color: rgba(0,0,0,.2);
}
