/* import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,700');

/* reset */
* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a,
a:hover,
a:active,
a:focus,
a:visited {
	text-decoration: none;
}

/* body */
body {
	font-family: 'Roboto';
	font-size: 18px;
	color: #eee;
	background-color: #303841;
}

/* wrapper */
#wrapper {
	margin: 0 auto;
	width: 720px;
}
h1 {
	font-size: 3em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	line-height: 100%;
	margin: 60px 0 50px;
}
p,
table,
input[type="search"] {
	margin: 0 0 50px;
}
input[type="search"] {
	font-family: 'Roboto';
	font-size: 28px;
	background: #3a4750;
	padding: 10px 12px 9px;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
}

/* files */
#files {
	width: 100%;
}
#files th,
#files td {
	text-align: right;
}
#files th:first-child,
#files td:first-child {
	text-align: left;
}
#files th {
	font-weight: normal;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	padding-bottom: 20px;
}
#files td {
	border-bottom: 2px solid rgba(0,0,0,0.5);
	padding: 15px 0;
}
.download {
	color: #eee;
	background-color: transparent;
	border: 2px solid #00adb5;
	border-radius: 5px;
	padding: 12px 16px 11px;
	display: inline-block;
	transition: all 0.8s;
}
.download:hover {
	color: #eee;
	background-color: #00adb5;
}